<div class="d-flex">
<!-- Sidebar:Begin -->
    <app-sidebar></app-sidebar>  
<!-- Sidebar: End -->

<!-- Dashboard: Begin -->
    <div class="container">
      <div class="row p-3">
        <div class="col">
            <h5>Buscar:</h5>
            <input type="text" class="form-control" placeholder="Buscar gifs...">
        </div>
      </div>

      <div class="row p-3">
        <div class="col">
          <hr>
        </div>
      </div>
     
    
      <div class="row p-3">
        <div class="col">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, repellat? Explicabo, quos iure quod fugiat magnam commodi tempora eum excepturi illo debitis praesentium laborum, laboriosam sunt illum soluta earum. Fugit.
        </div>
      </div>
    </div>
<!-- Dashboard: End -->

</div>
